*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#3c4043;
}
/* header */
header{
    padding:20px 20px 0 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.logo p{
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
}
nav ul li{
    display: flex;
    height: 100%;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    height: 100%;
    line-height: 60px;
}
.active{
    color:dodgerblue;
    border-bottom: 2px solid dodgerblue;
}
